extends layout

block content
  h1 Counter-Strike Global Offensive Major Championships since 2014
  ul
  each champion in champions
      li= champion.event + ', '+ champion.year + ', Winner: ' + champion.team
      
