extends layout

block content
<<<<<<< HEAD
<<<<<<< HEAD
  h1 Counter-Strike Global Offensive Major Championships since 2014
  ul
  each champion in champions
      li= champion.event + ', '+ champion.year + ', Winner: ' + champion.team
      
=======
=======
>>>>>>> d464429a4bed1387d47021ba7b4eecbabdea4cae
  h1 Counter Strike Global Offensive Major Championships since 2014
  ul
  each champion in champions
      li= champion.event + ', '+ champion.year + ', Winner: ' + champion.team
<<<<<<< HEAD
>>>>>>> d464429a4bed1387d47021ba7b4eecbabdea4cae
=======
>>>>>>> d464429a4bed1387d47021ba7b4eecbabdea4cae
