extends layout

block content
  h1= 'Counter-Strike Global Offensive esport statistics'
<<<<<<< HEAD
  p Click on the links above to see some statistics
=======
  p Click on the links above to see some statistics
>>>>>>> d464429a4bed1387d47021ba7b4eecbabdea4cae
