doctype html
html
  head
    title= 'CS:GO statistics'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home - Counter-Strike Global Offensive statistics
    br
    a(href='/events') Major Championships
    br
    a(href='/mvp') HLTV MVP of each Major

    block content
