extends layout

block content
  h1 HLTV MVP of each Major
  ul
  each player in players
      li= player.event + ', '+ player.year + ', MVP of the Major: ' + player.gamer
<<<<<<< HEAD
<<<<<<< HEAD
      
=======
>>>>>>> d464429a4bed1387d47021ba7b4eecbabdea4cae
=======
>>>>>>> d464429a4bed1387d47021ba7b4eecbabdea4cae
